*/.vs/*
*/Debug/*
*.pdf
*.asm
*/x64/*
imemin.txt
Assembler/imemin.txt
Assembler/imemin.txt
Assembler/dmemin.txt
*.txt
MIPS_Simulator/MIPS_Simulator.vcxproj
MIPS_Simulator/MIPS_Simulator.vcxproj.filters
MIPS_Simulator/MIPS_Simulator.vcxproj.user
